# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Distribution / packaging
dist/
ConvertEcritures.egg-info/
publish.py

# Configuration de pyinstaller
config pyinstaller.json

# Dossier des imports
py_convert/format_import/courtage.py

# Dossier des paramètres
py_convert/format_settings/*
!py_convert/format_settings/__init__.py
!py_convert/format_settings/base.py
!py_convert/format_settings/cash.py

# Others
Start.py
test.py
venv
*.code-workspace